.profile__about-me {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width:920px) {
    .profile__about-me {
        text-align: center;
    }
}

@media (max-width: 445px) {
    .profile__about-me {
        width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}