.popup__close {
  position: absolute;
  border: none;
  background: none;
  box-shadow: none;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/CloseIcon.svg");
  right: -38px;
  top: -34px;
  cursor: pointer;
  transition: opacity 1s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width:590px) {
  .popup__close {
    background-image: url("../../../images/CloseIconMobile.svg");
    width: 20px;
    height: 20px;
    right: 0;
  }
}